<!DOCTYPE html>
<html>
  <head>
    <title>Crosspatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <div class="nav nav-wrapper">
        <% if current_user != nil %>
          <ul class="left hide-on-med-and-down">
            <li><a href="http://localhost:3000/" style="color:white"><span class="glyphicon glyphicon-home"></span> HOME</a></li>
            <li><a href="http://localhost:3000/posts" style="color:white">POSTS</a></li>
            <li><a href="http://localhost:3000/users" style="color:white">USERS</a></li>
        <% else %>
          <ul class="left hide-on-med-and-down">
            <li><span class="glyphicon glyphicon-home"></span> WELCOME TO CROSSPATCH</li>
  
        <% end %>

          <% if (current_user != nil && current_user[:adm] == true)%>
            <li><a href="http://localhost:3000/dumpsters" style="color:white">DUMPSTER</a></li>
          <% end %>

          <% if (current_user != nil && current_user[:adm] == true)%>  
            <li><a href="http://localhost:3000/blacklists" style="color:white">BLACKLIST</a></li>
          <% end %>

          <% if (current_user != nil && current_user[:super_adm] == true)%> 
            <li><a href="http://localhost:3000/administrators" style="color:white">ADMINISTRATORS</a></li>
          <% end %>
        </ul>

        <ul class="right hide-on-med-and-down">

          <% def ses %>
            <% session.destroy %>
          <% end %>

          <% if (current_user == nil)%> 
            <li><a href= 'http://localhost:3000/users/sign_in' style="color:white"><span class="glyphicon glyphicon-log-in"></span> LOG IN </a></li>
            <li><a href= 'http://localhost:3000/users/sign_up' style="color:white"><span class="glyphicon glyphicon-log-in"></span> SIGN UP </a></li>

      

          <% else %>
            
            <li><a href="http://localhost:3000/notifications" style="color:white"><span class="glyphicon glyphicon-bell"></span> NOTIFICATION </a></li>

            <li><a style="color:white" href= <%= "http://localhost:3000/users/" + current_user[:id].to_s %> ><span class="glyphicon glyphicon-user"></span> <%= current_user[:name].upcase %></a></li>
            <li>
              <a href='http://localhost:3000/log_in' data-method="delete" style="color:white"><span class="glyphicon glyphicon-log-out"></span> LOG OUT </a></li>

          <% end %>
        </ul>
      </div>
    </nav>

  <div class="container">

    <body>
      <br>
      <% if flash[:error] %>
        <div class="Alert-bottom alert alert-danger fade in" role="alert" id="errors" ><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <%= flash[:error] %></div>
      <% elsif flash[:success] %>
        <div class="Alert-bottom alert alert-success fade in" role="alert" id="success" ><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= flash[:success] %></div>
      <% elsif flash[:notice] %>
        <div class="Alert-bottom alert alert-success fade in" role="alert" id="success" ><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class="Alert-bottom alert alert-danger fade in" role="alert" id="errors" ><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= flash[:alert] %></div>

      <% end %>
      <%= yield %>
    </body>
  </div>
</html>