<div id="kconteiner">
	<div class = "box-posts box-posts2">
		<div class = "edit-destroy">
			<% if (current_user != nil) && InappropriateContent.find_by(user_id: current_user.id, post_id: @post.id) != nil%>
			  	<span class="glyphicon glyphicon-warning-sign"></span> Reported
			  	|
			<% end %>
			<% if @post.close == true && @post.unresolved == false %>
				<span class="glyphicon glyphicon-check"></span> Solved
				|
			<% end %>

			<% if @post.close == true %>
				Closed
			<% else %>
				Opened
			<% end %>
			<% if current_user %>
              <% g=Geofence.find_by(user_id: current_user.id) %>
              <% p=Geo.find_by(post_id: @post.id) %>
            <% else %>
              <%g=nil%>
              <%p=nil%>
            <%end%>

            <% if p && g%>
              	<% if ((g.longitude.to_f.abs - 0.1) <= p.longitude.to_f.abs && (g.longitude.to_f.abs + 0.1 >= p.longitude.to_f.abs && (g.latitude.to_f.abs - 0.1) <= p.latitude.to_f.abs && (g.latitude.to_f.abs + 0.1) >= p.latitude.to_f.abs) && current_user.adm) || (current_user.super_adm || current_user.id == @post.user_id)  %>


					<% if (current_user != nil) && ((current_user[:adm] == true) || User.find(@post.user_id)[:id] == current_user.id) %>
						| 
			      		<%= link_to edit_post_path(@post) do%>
			      			<span class="glyphicon glyphicon-edit" style= "color:#FF5757"></span> Edit
			      		<% end %>
					<% end %>
					<% if (current_user != nil) && (current_user[:adm] == true) && (@post[:inappropriate] == false) %>
						| 
		                <%= link_to post_dumpsters_path(@post), 
		                    method: :create,
		                    data: { confirm: 'Are you sure you want to send this post to the Dumpster?' }  do%>
		                    <span class="glyphicon glyphicon-ban-circle" style= "color:#FF5757"></span> Ban
		                <% end %>
		            <% end %>
		            <% if (current_user != nil) && (current_user[:adm] == true) && (@post[:inappropriate] == true) %>
						| 
		                <%= link_to dumpster_path(Dumpster.find_by(post_id: @post.id)), 
		                    method: :delete,
		                    data: { confirm: 'Are you sure you want to mark this post as Appropriate?' }  do%>
		                    <span class="glyphicon glyphicon-check" style= "color:#FF5757"></span>  Appropriate
		                <% end %>
		            <% end %>
					<% if (current_user != nil) && ((current_user[:adm] == true) || User.find(@post.user_id)[:id] == current_user.id) %>
						| 
			      		<%= link_to post_path(@post),
		                    method: :delete,
		                    data: { confirm: 'Are you sure you want to delete this post?' } do%>
		                	<span class="glyphicon glyphicon-trash" style= "color:#FF5757"></span> Delete
		                <% end %>
					
					<% end %>
				<% end %>
			<% else %> 
				<% if (current_user != nil) && ((current_user[:adm] == true) || User.find(@post.user_id)[:id] == current_user.id) %>
					| 
		      		<%= link_to edit_post_path(@post) do%>
		      			<span class="glyphicon glyphicon-edit" style= "color:#FF5757"></span> Edit
		      		<% end %>
				<% end %>
				<% if (current_user != nil) && (current_user[:adm] == true) && (@post[:inappropriate] == false) %>
					| 
	                <%= link_to post_dumpsters_path(@post), 
	                    method: :create,
	                    data: { confirm: 'Are you sure you want to send this post to the Dumpster?' }  do%>
	                    <span class="glyphicon glyphicon-ban-circle" style= "color:#FF5757"></span> Ban
	                <% end %>
	            <% end %>
	            <% if (current_user != nil) && (current_user[:adm] == true) && (@post[:inappropriate] == true) %>
					| 
	                <%= link_to dumpster_path(Dumpster.find_by(post_id: @post.id)), 
	                    method: :delete,
	                    data: { confirm: 'Are you sure you want to mark this post as Appropriate?' }  do%>
	                    <span class="glyphicon glyphicon-check" style= "color:#FF5757"></span>  Appropriate
	                <% end %>
	            <% end %>
				<% if (current_user != nil) && ((current_user[:adm] == true) || User.find(@post.user_id)[:id] == current_user.id) %>
					| 
		      		<%= link_to post_path(@post),
	                    method: :delete,
	                    data: { confirm: 'Are you sure you want to delete this post?' } do%>
	                	<span class="glyphicon glyphicon-trash" style= "color:#FF5757"></span> Delete
	                <% end %>
				
				<% end %>
			<% end %>
			

		</div>
		<h3>
			<div class = "titles">
				<strong></strong>
				<%= @post.title %>

			</div>
		</h3>
		<h5>
			<% if @post.inappropriate == true%>
				(In the Dumpster)
			<% end %>
		</h5>


		<p>
			<strong></strong>
			<a href= <%="http://localhost:3000/users/"+User.find(@post.user_id)[:id].to_s%> ><%= User.find(@post.user_id)[:name] %></a>
			<%if @post.city != "" && @post.city != nil%> 
				| <%= @post.city %>,
			<% end %>
			<%if @post.country != "" && @post.country != nil%>
				<%= @post.country %>
			<% end %>
			| 
			<%= @post.created_at.strftime( '%d/%m/%Y %H:%M' )%>

		</p>
		<% if @post.gps != "" && @post.gps != nil %>
			<p>
				<%= link_to post_map_path(@post) do%>
					<span class="glyphicon glyphicon-map-marker"></span> <%= @post.gps %>
				<% end %>
			</p>	
		<% end %>
		<p>
			<% if (current_user != nil) && (current_user[:status] == true) && (@post.inappropriate == false) && (User.find(@post.user_id)[:id] != current_user.id) %> 
				<% if Follower.find_by(user_id: current_user.id, post_id: @post.id) != nil %>
					<%= link_to post_follower_path(@post), method: :delete do%>
						<span class="glyphicon glyphicon-user" style= "color:#FF5757"></span> Unfollow
					<% end %> 
				<% else %>
		            <%= link_to post_followers_path(@post), method: :create do%>
		            	<span class="glyphicon glyphicon-user" style= "color:#FF5757"></span> Follow
		            <% end %>
		        <% end %>

		        | 
		        <% if Share.find_by(user_id: current_user.id, post_id: @post.id) != nil %>
		        	<span class="glyphicon glyphicon-share"></span> Shared
		        <% else %>
		        	<%= link_to post_shares_path(@post), method: :create do%>
		        		<span class="glyphicon glyphicon-share" style= "color:#FF5757"></span> Share
		        	<% end %>
		        <% end %>
			<% end %>  
		</p>
		

		<p>
			<div class = "description">
				<strong><%= @post.description %></strong>
			</div>
		</p>

		<p>
			<% if @post.avatar? %>
				<div class = "img-thumbnail">
					<%= image_tag @post.avatar.url(:medium) %>
				</div>
			<% end %>

		</p>
		<% if p && g%>

        	<% if ((g.longitude.to_f.abs - 0.1) <= p.longitude.to_f.abs && (g.longitude.to_f.abs + 0.1 >= p.longitude.to_f.abs && (g.latitude.to_f.abs - 0.1) <= p.latitude.to_f.abs && (g.latitude.to_f.abs + 0.1) >= p.latitude.to_f.abs) && current_user.adm) || (current_user.super_adm || current_user.id == @post.user_id)  %>

				<% if (current_user != nil) && (current_user[:adm] == true || User.find(@post.user_id)[:id] == current_user.id) && (@post[:close] == true) && (@post[:unresolved] == true) %>
					<strong>Already Solved?</strong>
		            <%= link_to 'Click here',post_path(@post, post:{unresolved: false}), 
		                method: :put %>
		        <% end %>
		    <% end %>
		<% else %>
			<% if (current_user != nil) && (current_user[:adm] == true || User.find(@post.user_id)[:id] == current_user.id) && (@post[:close] == true) && (@post[:unresolved] == true) %>
				<strong>Already Solved?</strong>
		        <%= link_to 'Click here',post_path(@post, post:{unresolved: false}), 
		                method: :put %>
		    <% end %>
		<% end %>

		<p>
			<%if @post.file? %>
				<iframe src= <%= @post.file.url.html_safe %> width='595' height="300" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
			<% end %>
		</p>
	</div><br>
	<div class = "box-comments box-comments2" >

		<% contador1 = 0 %>
		<% for like in Like.all do %>
			<% if like.post_id == @post.id %>
				<% contador1 += 1 %>
			<% end %>
		<% end %>

		<% contador2 = 0 %>
		<% for dislike in Dislike.all do %>
			<% if dislike.post_id == @post.id %>
				<% contador2 += 1 %>
			<% end %>
		<% end %>

		<br>
		<p> 
			<div id = "vote"></div>
			<%=contador1%>
			<% if current_user != nil && (@post.inappropriate == false) %>
	            <% if Like.find_by(user_id: current_user.id, post_id: @post.id) != nil %>
		            <%= link_to post_like_path(@post, anchor:"vote"), method: :delete do %>
		                <span class="glyphicon glyphicon-thumbs-up"></span>
		            <% end %>
	            <% elsif Dislike.find_by(user_id: current_user.id, post_id: @post.id) != nil %>      
	            		<span class="glyphicon glyphicon-thumbs-up"></span>
	            <% else %>
	            	<%= link_to post_likes_path(@post, anchor:"vote"), method: :create do %>
		                <span class="glyphicon glyphicon-thumbs-up"></span>
		            <% end %>
	            <% end %>
            <% else %>
            	<span class="glyphicon glyphicon-thumbs-up"></span>
            <% end %>
            |
            <%=contador2%>
            <% if current_user != nil && (@post.inappropriate == false)%>
	            <% if Dislike.find_by(user_id: current_user.id, post_id: @post.id) != nil %>
		            <%= link_to post_dislike_path(@post, anchor:"vote"), method: :delete do %>
		                  <span class="glyphicon glyphicon-thumbs-down"></span>
		            <% end %>
	            <% elsif Like.find_by(user_id: current_user.id, post_id: @post.id) != nil %>      
	            	<span class="glyphicon glyphicon-thumbs-down"></span>
	            <% else %>
	            	<%= link_to post_dislikes_path(@post, anchor:"vote"), method: :create do %>
		                  <span class="glyphicon glyphicon-thumbs-down"></span>
		            <% end %>
	            <% end %>
            <% else %>
            	<span class="glyphicon glyphicon-thumbs-down"></span>
            <% end %>
        </p>
        <p>
            <% if (current_user != nil) && (current_user[:status] == true) && (@post.inappropriate == false) && InappropriateContent.find_by(user_id: current_user.id, post_id: @post.id) == nil%>
				  <%= link_to new_post_inappropriate_content_path(@post) do%>
				  	<span class="glyphicon glyphicon-warning-sign" style= "color:#FF5757"></span> Inappropriate
				  <% end %>
			<% end %>
		</p>

		<% if @post.close == false && (@post.inappropriate == false)%>
			<% if !(current_user == nil) && !(current_user[:status] == false) %>
				<div class = "box-comments-grey">
					<%= form_with(model: [@post, @post.comments.build], local: true) do |form| %>
						<p>
						    <%= form.label :description, "Add a comment" %><br>
						    <strong><%= form.text_area :description, :required => true %></strong>
					    </p>
					    <p>
					    	<%= form.submit "Enter" %>
					    </p>
					<% end %>
					<small class="form-text text-muted"><strong>Tag someone using @ and replacing space with "_" (e.g: Martin Concha -> @Martin_Concha)</strong></small>
				</div>
			<% end %>
			<div class = "box-comments-grey">
				<% for comment in Comment.all.sort.reverse do %>
					<% if comment.post_id == @post.id %>
						<p>

	      					<a href= <%="http://localhost:3000/users/"+User.find(comment[:user_id])[:id].to_s%>><span class=" glyphicon glyphicon-comment" style= "color:#FF5757"></span> <%= User.find(comment[:user_id])[:name]%></a> | <strong><%= comment.created_at.strftime( '%d/%m/%Y %H:%M' )%></strong>
	      					<% if current_user != nil && current_user.id == comment.user_id %>
	      						| <%= link_to edit_post_comment_path(@post,comment,anchor:"edit-comment") do%>
		      						   <span class="glyphicon glyphicon-edit" style= "color:#FF5757"></span> Edit
		      						<% end %>
	      						| <%= link_to [comment.post, comment],
					               method: :delete,
					               data: { confirm: 'Are you sure you want to delete this comment?' } do %>
					               <span class="glyphicon glyphicon-trash" style= "color:#FF5757"></span> Delete
					              <% end %>
				            <% end %>
						</p>
					<% end %>
					<% if comment.post_id == @post.id && comment.id == @comment.id %>
						<div id= "edit-comment">
							<%= form_with(model: [@post, @comment], local: true) do |form| %>
								<p>
								    <strong><%= form.text_area :description, :required => true, :value => @comment.description %></strong>
							    </p>
							    <p>
							    	<%= form.submit "Enter", method: :put %>
							    </p>
							<% end %>
						</div>
					<% elsif comment.post_id == @post.id%>
						<p>	
							<div class = "description"><strong><%= comment[:description] %></strong></div>
						</p>					
						<br>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

