<div id="kconteiner">
  <div class="box box2">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <div class="input-field col s3">
            <label>
              <%= f.check_box :remember_me, id: 'remember_me' %>
              <span>Remember me</span>
            </label><br><br>
          </div>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>

  </div>
</div>
