<h1> Edit Post </h1>

<%= form_with(model: @post, local: true) do |form| %>

	<% if @post.errors.any? %>
    	<div id="error_explanation">
      		<h2>
        		<%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:
      		</h2>
     		 <ul>
        		<% @post.errors.full_messages.each do |msg| %>
          			<li><%= msg %></li>
        		<% end %>
      		</ul>
    	</div>
  	<% end %>

  	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p>

	<p>
		<%= form.label :description %><br>
		<%= form.text_area :description %>
	</p>

	<p>
		<%= form.label :city %><br>
		<%= form.text_field :city %>
	</p>

	<p>
		<%= form.label :country %><br>
		<%= form.text_field :country %>
	</p>

	<p>
		<%= form.label :gps %><br>
		<%= form.text_field :gps %>
	</p>

	<p>
		<%= form.label :file %><br>
		<%= form.file_field :file %>
	</p>

	<p>
		<%= form.label :images %><br>
		<%= form.file_field :images %>
	</p>

	<p>
		<%= form.label :close %><br>
		<%= form.check_box :close %>
	</p>

	<p>
		<%= form.submit %>
	</p>

	<% end %>

	<%= link_to 'Back', posts_path %>