<div id="kconteiner">
  <div class="box box2">
    <div class="titles">
      <h1><span class="glyphicon glyphicon-edit" style= "color:#FF5757"></span> Change Password</h1>
    </div>

    <%= form_with(model: @user, html: { multipart: true }, local: true) do |form| %>
        
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@user.errors.count, "error") %> prohibited
              this user from being saved:
            </h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>


      	<p>
        	<%= form.label :password,"New password" %><br>
        	<%= form.password_field :password %>
      	</p>

      	<p>
        	<%= form.label :password_confirmation %><br>
        	<%= form.password_field :password_confirmation %>
      	</p>

      	
     
      	<p>
        	<%= form.submit "Update Password", :class => 'button' %>
      	</p>
    <% end %>
  </div>
</div>