<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="kconteiner">
  <div class = "box box2">
    <div class = "titles">

      <h1>Users</h1>
    </div>
    <div class="search-container">
      <form class="example">
        <%= form_tag(users_path, method: :get) do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search by name or city.." %>
          <button class="button" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        <% end %><br>
      </form>
    </div>
    <% puts User.find(session["warden.user.user.key"][0][0]).name %>
    <% if (current_user != nil) && (current_user[:adm] == true)%> 
      
      <%= link_to new_user_path do%>
        <span class="glyphicon glyphicon-edit" style= "color:#FF5757"></span> New User
      <% end %>
    <% end %>

    <div class = "table" >
      <table class = "table" >
        <thead>
          <tr>
            <th></th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">City</th>
            <th scope="col">Country</th>
            <% if (current_user != nil) && (current_user[:adm] == true) %>
              <th scope="col">Last access</th>
            <% end %>
            <th></th>
            <th></th>
            <% if (current_user != nil) && (current_user[:adm] == true) %>
              <th></th>
            <% end %>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td scope="row"><span class="glyphicon glyphicon-user"></span></td>
              <td><strong><%= user.name %></strong></td>
              <% email = "" %>
              <% contador = 0 %>
              <% for i in user.email.split('') %>
                <% email << i %>
                <% contador += 1 %>
                <% if contador == 21 %>
                  <% email += '...' %>
                  <% break %>
                <% end %>
              <% end %>
              <td><strong><%= email %></strong></td>
              <td><strong><%= user.city %></strong></td>
              <td><strong><%= user.country %></strong></td>
              <% if (current_user != nil) && (current_user[:adm] == true) %>
                <td>
                  <% if user.last_sign_in_at %>
                    <strong><%= user.last_sign_in_at.strftime( '%d/%m/%Y %H:%M' ) %></strong>
                  <% else %>
                    <strong><%= 'Has not logged yet.' %></strong>
                  <% end %>
                </td>
              <% end %>             
              <td><%= link_to user_path(user) do %>
                <span class="glyphicon glyphicon-eye-open"></span>
              <% end %>
              </td>
              <td>
                <% if (current_user != nil) && (user.id == current_user.id)%> 
                  <%= link_to edit_user_registration_path do %>
                    <span class="glyphicon glyphicon-edit"></span>
                  <% end %>
                <% end %>
              </td>
              <% if (current_user != nil) && (current_user[:adm] == true) %>
                <td> 
                <%= link_to user_blacklists_path(user), 
                    method: :create,
                    data: { confirm: 'Are you sure you want to send this user to the blacklist?' } do %>
                  <span class="glyphicon glyphicon-ban-circle"></span>
                <% end %>
                </td>
              <% end %>
              
              <td>
                <% if (current_user != nil) && ((current_user[:adm] == true) || user.id == current_user.id)%>  
                  <%= link_to user_path(user),
                      method: :delete,
                      data: { confirm: 'Are you sure you want to delete this user?' } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
