
<div id="kconteiner">
  <div class = "box box2">
    <div class = "box-users box-users2" >
      <div class = "edit-destroy">
        <% g=Geofence.find_by(user_id: current_user.id) %>
        <% u=Geofence.find_by(user_id: @user.id) %>
        <% if u && g%>
          <% if (g.longitude.to_f - 0.01) <= u.longitude.to_f && (g.longitude.to_f + 0.01) >= u.longitude.to_f && (g.latitude.to_f - 0.01) <= u.latitude.to_f && (g.latitude.to_f + 0.01) >= u.latitude.to_f %>
            <% if (current_user != nil) && (@user.id == current_user.id)%> 
              <%= link_to edit_user_registration_path do%>
                <span class="glyphicon glyphicon-edit" style= "color:#FF5757"></span> Edit
              <% end %>
              |
            <% end %>

            <% if (current_user != nil) && (current_user[:adm] == true) && (@user.adm == false) || (current_user != nil) && (current_user[:super_adm] == true)%> 
              <%= link_to edit_user_path(@user) do%>
                <span class="glyphicon glyphicon-edit" style= "color:#FF5757"></span> Change Password
              <% end %>
              |
            <% end %>

        
            <% if (current_user != nil) && (current_user[:adm] == true) && (@user.status == true) && (@user.adm == false) %> 
              <%= link_to user_blacklists_path(@user), 
                  method: :create,
                  data: { confirm: 'Are you sure you want to ban this user?' } do%>
                  <span class="glyphicon glyphicon-ban-circle" style= "color:#FF5757"></span> Ban
              <% end %>
              |
            <% end %>
            <% if (current_user != nil) && (current_user[:adm] == true) && (@user.status == false) %> 
              <%= link_to blacklist_path(Blacklist.find_by(user_id: @user.id)),
                        method: :delete,
                        data: { confirm: 'Are you sure you want to active this user?' }  do%>
                        <span class="glyphicon glyphicon-check" style= "color:#FF5757"></span>  Activate
              <% end %>
              |
            <% end %>
            <% if (current_user != nil) && ((current_user[:adm] == true) || @user.id == current_user.id)%> 
              <%= link_to user_path(@user),
                          method: :delete,
                          data: { confirm: 'Are you sure you want to delete this user?' } do%>
                          <span class="glyphicon glyphicon-trash" style= "color:#FF5757"></span> Delete
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% if (current_user != nil) && (@user.id == current_user.id)%> 
            <%= link_to edit_user_registration_path do%>
              <span class="glyphicon glyphicon-edit" style= "color:#FF5757"></span> Edit
            <% end %>
            |
          <% end %>

          <% if (current_user != nil) && (current_user[:adm] == true) && (@user.adm == false) || (current_user != nil) && (current_user[:super_adm] == true)%> 
            <%= link_to edit_user_path(@user) do%>
              <span class="glyphicon glyphicon-edit" style= "color:#FF5757"></span> Change Password
            <% end %>
            |
          <% end %>

      
          <% if (current_user != nil) && (current_user[:adm] == true) && (@user.status == true) && (@user.adm == false) %> 
            <%= link_to user_blacklists_path(@user), 
                method: :create,
                data: { confirm: 'Are you sure you want to ban this user?' } do%>
                <span class="glyphicon glyphicon-ban-circle" style= "color:#FF5757"></span> Ban
            <% end %>
            |
          <% end %>
          <% if (current_user != nil) && (current_user[:adm] == true) && (@user.status == false) %> 
            <%= link_to blacklist_path(Blacklist.find_by(user_id: @user.id)),
                      method: :delete,
                      data: { confirm: 'Are you sure you want to active this user?' }  do%>
                      <span class="glyphicon glyphicon-check" style= "color:#FF5757"></span>  Activate
            <% end %>
            |
          <% end %>
          <% if (current_user != nil) && ((current_user[:adm] == true) || @user.id == current_user.id)%> 
            <%= link_to user_path(@user),
                        method: :delete,
                        data: { confirm: 'Are you sure you want to delete this user?' } do%>
                        <span class="glyphicon glyphicon-trash" style= "color:#FF5757"></span> Delete
            <% end %>
          <% end %>
        <% end %>

      </div>
      <% if @user.avatar? %>
        <div class = "img-user">      
          <p>
            <%= image_tag @user.avatar.url(:medium) %>
          </p>
        </div>
      <% end %>
      <div class = "box-user-profile">
        <div class = "titles"><h2>
          <%= @user.name %>
          <% if @user.status == false %>
            (Inactive)
          <%end%>

        </h2></div>
        <% contador1 = 0 %>
        <% for like in Like.all do %>
          <% if like.user_id == @user.id %>
            <% contador1 += 1 %>
          <% end %>
        <% end %>

        <% contador2 = 0 %>
        <% for dislike in Dislike.all do %>
          <% if dislike.user_id == @user.id %>
            <% contador2 += 1 %>
          <% end %>
        <% end %>
        <% contador3 = 0 %>
        <% for comment in Comment.all do %>
          <% if comment.user_id == @user.id %>
            <% contador3 += 1 %>
          <% end %>
        <% end %>
        <p>
          <%= contador1%> <span class="glyphicon glyphicon-thumbs-up"></span>  
          <%= contador2%> <span class="glyphicon glyphicon-thumbs-down"></span>       
          <%= contador3%> <span class="glyphicon glyphicon-comment"></span> 
        </p>

        <% if (current_user != nil) && (current_user[:adm] == true )%> 
          <p>
            <span class="glyphicon glyphicon-log-in"></span> Last Access:
            <% if @user.last_sign_in_at %>
              <strong><%= @user.last_sign_in_at.strftime( '%d/%m/%Y %H:%M' )%></strong>
            <% else %>
              <strong><%= 'Has not logged yet.' %></strong>
            <% end %>
          </p>
          <p>
            <span class="glyphicon glyphicon-user"></span> Role:
            <% if @user[:super_adm] == true %>
              <strong>Super Admin</strong>
            <% elsif @user[:adm] == true %>
              <strong>Admin</strong>
            <% else %>
              <strong>User</strong>
            <% end %>
          </p>
        <% end %>

         
        <p>
          <strong><span class="glyphicon glyphicon-envelope"></span>  <%= @user.email %></strong>
        </p>

        <p>
          <strong><strong><span class="glyphicon glyphicon-map-marker"></span>  <%= @user.city %>, <%= @user.country %></strong>
        </p>

        <% if @user.gps != "" && @user.gps != nil %>
          <p>
            <%= link_to user_map_path(@user) do%>
              <span class="glyphicon glyphicon-map-marker"></span> <%= @user.gps %>
            <% end %>
          </p>  
        <% end %>

        <p>
          <span class="glyphicon glyphicon-info-sign"></span> <strong><%= @user.biography %></strong>
        </p>
      </div>
    </div>
  </div>

  <div class="box-separator"><br>
  </div>
  <div class="box-separator-white"><br>
  </div>

  <div class = "box-users box-users2">
    <table class='table'>
      <% for post in Post.all.sort.reverse do %>
        <% if post.user_id == @user.id && post.inappropriate == false%>
          <tr>
            <td>
              <a href= <%="http://localhost:3000/posts/"+Post.find(post.id)[:id].to_s%>><span class="glyphicon glyphicon-file" style= "color:#FF5757"></span> <%= Post.find(post.id)[:title] %></a> | <%= post.created_at.to_s %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>

  <div class="box-separator"><br>
  </div>
  <div class="box-separator-white"><br>
  </div>

  <div class = "box-users box-users2">
    <div class='table'>
      <table clas='table'>
        <% for wall in UserProfile.all.sort.reverse{ |e| e.created_at}.take(10) do %>
        	<% if wall.user_id == @user.id %>
        		<tr>
              <td>
                <% if wall.help == "like" %>
                  <span class="glyphicon glyphicon-thumbs-up"></span> <%= wall.description %>
                <% elsif wall.help == "dislike" %>
                  <span class="glyphicon glyphicon-thumbs-down"></span> <%= wall.description %>
                <% elsif wall.help == "post" %>
                  <span class="glyphicon glyphicon-file"></span> <%= wall.description %>
                <% elsif wall.help == "comment" %>
                  <span class="glyphicon glyphicon-comment"> </span> <%= wall.description %>
                <% elsif wall.help == "share" %>
                  <span class="glyphicon glyphicon-share"></span> <%= wall.description %>
                <% end %>
                at <%= wall.created_at.to_s %>
              </td>
        		</tr>
        	<% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
