<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="kconteiner">
  <div class = "box box2">
    <div class = "titles">
      <h1>Administrators</h1>
    </div>

    <div class="search-container">
      <form class="example" action="http://localhost:3000/administrators">
        <input type="text" placeholder="Search.." name="search">
        
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
     <span class="glyphicon glyphicon-edit" style= "color:#FF5757"></span>
     <%= link_to 'New Administrator', new_administrator_path %>

    <div clas="table">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Country</th>
            <th scope="col">City</th>
            <th scope="col">Last access</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @administrators.each do |admin| %>
          <tr>
            <td scope="row"><span class="glyphicon glyphicon-user"></span></td>
            <td><strong><%= admin.name %></strong></td>
            <td><strong><%= admin.email %></strong></td>
            <td><strong><%= admin.country %></strong></td>
            <td><strong><%= admin.city %></strong></td>
            <td>
              <% for l in Login.all %>
                <% if l[:email] == admin.email %>
                  <% w = 1 %>
                <% end %>
              <% end %>
              <% if w == 1 %>
                <strong><%= Login.where(:email => admin.email)[-1][:created_at].to_s%></strong>
              <% else %>
                <strong><%= 'Has not logged yet.' %></strong>
              <% end %>
            </td>
            <td><%= link_to administrator_path(admin) do %>
                  <span class="glyphicon glyphicon-eye-open"></span>
                <% end %></td>
            <td>
              <% if (current_user != nil) && ((current_user[:adm] == true) || user.id == current_user.id)%> 
                <%= link_to edit_administrator_path(admin) do %>
                  <span class="glyphicon glyphicon-edit"></span>
                <% end %>
              <% end %>
              </td>
            <td><%= link_to administrator_path(admin),
                    method: :delete,
                    data: { confirm: 'Are you sure you want to delete this administrator?' } do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>  
            </td>


          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

