<div id="kconteiner">
  <div class="box box2">
      <div class="titles">
        <h1><span class="glyphicon glyphicon-edit" style= "color:#FF5757"></span> Change Geofence</h1>
      </div>


    <%= form_with(model: @administrator, local: true)  do |form| %>
        
        <% if @administrator.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@administrator.errors.count, "error") %> prohibited
              this article from being saved:
            </h2>
            <ul>
              <% @administrator.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <p>
          <%= form.label :gps,"New address" %><br>
          <%= form.text_field :gps %>
        </p>


        
     
        <p>
          <%= form.submit "Update", :class => 'button' %>
        </p>
    <% end %>
  </div>
</div>