
<div id="kconteiner"> 
  <div class="box box2">
    <div class="titles">
      <h1><span class="glyphicon glyphicon-edit" style= "color:#FF5757"></span> New Administrator</h1>
    </div>


    <%= form_with scope: :admin, url: administrators_path, local: true do |form| %>
        
        <% if @admin.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@admin.errors.count, "error") %> prohibited
              this article from being saved:
            </h2>
            <ul>
              <% @admin.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      	<p>
        	<%= form.label :name %><br>
        	<%= form.text_field :name %>
      	</p>

      	<p>
        	<%= form.label :email %><br>
        	<%= form.text_field :email %>
      	</p>

      	<p>
        	<%= form.label :password %><br>
        	<%= form.password_field :password %>
      	</p>

      	<p>
        	<%= form.label :password_confirmation %><br>
        	<%= form.password_field :password_confirmation %>
      	</p>

      	<p>
        	<%= form.label :birthdate %><br>
        	<%= form.date_field :birthdate %>
      	</p>

      	<p>
        	<%= form.label :city %><br>
        	<%= form.text_field :city %>
      	</p>

      	<p>
        	<%= form.label :country %><br>
        	<%= form.text_field :country %>
      	</p>

      	<p>
        	<%= form.label :gps, "Geofence" %><br>
        	<%= form.text_field :gps %>
      	</p>

      	<p>
        	<%= form.label :biography %><br>
        	<%= form.text_area :biography %>
      	</p>

      	<p>
      		<%= form.label :picture %><br>
      		<%= form.file_field :picture %>
      	</p>

      	<div class="input-field col s3">
          <label>
            <%= form.check_box :terms, id:"terms" %>
            <span>Do you agree with <%= link_to 'Terms of Services', 'http://localhost:3000/terms_of_services' %>?</span>
          </label><br>
        </div>

        <div class="input-field col s3">
          <label>
            <%= form.check_box :aup, id:"aup" %>
            <span>Do you agree with <%= link_to 'Acceptable Use Policy', 'http://localhost:3000/aup' %>?</span>
          </label>
        </div>
     
      	<p>
        	<br><br><br><%= form.submit "Create", :class => 'button' %>
      	</p>
    <% end %>
  </div>
</div>
